* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.hnf-message {
    min-height: 3rem;
    background-color: #0A8A00;
}

.hnf-message .message {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.message .icon-svg-message {
    width: 258.73px;
    height: 22px;
    display: flex;
}

.message .icon-svg-message svg {
    margin-inline-end: .625rem;
}

.button-row {
    width: 36px;
    height: 36px;
    margin-top: 2px;

}

.button-row button {
    border: none;
    padding: 5px 3px 3px 3px;
    background-color: transparent;
    margin-inline-end: -0.375rem;
    width: 36px;
    height: 36px;
    border-radius: 50px;
}

.button-row button:hover {
    background-color: #CCCCCC;
}

.message .icon-svg-message a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.message .icon-svg-message div:hover {
    text-decoration: underline;
}

header .container {
    width: 100%;
    display: flex;
    height: auto;
    padding: 20px 3rem;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container .container-logo {
    width: 90px;
    height: auto;
    display: flex;
}

.container .container-logo .logo,
.search {
    width: 100%;
    height: auto;
}

.container .container-search {
    width: 586px;
    height: 50px;
    margin-left: 40px;
    display: flex;
    position: relative;
}

.container .search input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 50px;
    font-size: 15px;
    background-color: rgba(190, 190, 190, 0.151);
}

.container .search input:hover {
    background-color: #DCDCDC;
}

.search .svg-icon-search {
    position: absolute;
    top: 13px;
    inset-inline: 1rem auto;
}

.search input::placeholder {
    color: rgb(22, 20, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fotocamera {
    position: absolute;
    top: 13px;
    right: 10px;
    border: none;
    background: none;
}


.container-list-icon {
    margin-inline-start: 1.5rem;
}

.container-list-icon ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.container-list-icon ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.container-list-icon ul li:hover {
    background-color: #CCCCCC;
}

.container-menu {
    /* width: 40%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #menu-check {
    display: none;
}

.menu-check {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-check .hamburger {
    width: 24px;
    height: 0.20rem;
    background: #333;
    margin-bottom: 5px;
}

#menu-check:checked~.dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropdown ul li {
    margin: 10px 10px
}

.dropdown ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
} */

.content-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
    /* background-color: red; */
}

.content-body .container-codice-postale,
.container-selezione-negozio {
    width: 50%;
    /* background-color: blue; */
    height: 56px;
}

.content-body .container-codice-postale:hover,
.container-selezione-negozio:hover {
    background-color: #CCCCCC;
}

.content-body .container-codice-postale,
.container-selezione-negozio {
    display: flex;
    align-items: center;
}

.content-body .icon-description {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: green; */
    padding: 0px 48px;
}

.container-selezione-negozio .icon-description {
    display: flex;
    justify-content: flex-end;
}

.hr {
    display: flex;
    margin: 0px 57px 0px 48px;
    background-color: rgb(219, 217, 217);
    height: 0.5px;
}

.news-section {
    display: flex;
    padding: 0px 48px;
    margin-bottom: 30px;
}

.news-section .news-content {
    display: flex;
    position: relative;
}

.news-section .news-content .news-title {
    width: 60%;
    font-weight: bold;
    line-height: 1.45;
    letter-spacing: -0.0042em;
    font-family: Arial, Helvetica, sans-serif;
}

.news-title h2 {
    margin-bottom: 10px;
}

.news-title p {
    font-weight: normal;
}

.news-content .news-button {
    position: absolute;
    right: 0;
    top: 83px;
    border-radius: 64px;
    padding: 13px 20px 13px 20px;
    background: none;
    border: none;
    border: 1px solid black;
}

.news-content .news-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.news-content .news-button:hover {
    border-color: black;
    border-width: 2px solid black;
}

.image-container {
    display: flex;
    padding: 0px 40px;
    margin-bottom: 75px;
}

img {
    width: 100%;
    height: 100%;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 10px;
}

.image-1 {
    flex-grow: 5;
    /* flex-shrink: 0; */
}

.image-2 {
    flex-grow: 4;
    /* flex-shrink: 2; */
}

.image-3 {
    flex-grow: 3;
    /* flex-shrink: 2; */
}

.image-4 {
    flex-grow: 2;
    /* flex-shrink: 2; */
}

.image-5 {
    flex-grow: 1;
    /* flex-shrink: 2; */
}

.container-offerte {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-offerte .img-offerta {
    width: 100%;
    padding: 0 48px;
}

.container-info-offerta {
    width: 100%;
    display: flex;
    padding: 0px 48px;
}

.container-info-offerta .info-offerta {
    width: 100%;
    background-color: #78B82A;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: -5px;
    padding: 90px 0px 90px 80px;
}

.info-offerta .subtitle {
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: -0.0042em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}

.info-offerta .description {
    line-height: 1.45;
    letter-spacing: -0.0042em;
    font-family: Arial, Helvetica, sans-serif;
}

.description p {
    font-size: 1rem;
}

.description a {
    color: black;
}

.description button {
    background-color: black;
    padding: 13px 26px 13px 26px;
    border-radius: 64px;
    border: none;
}

.description button:hover {
    background-color: #414040;
}

.btn-project {
    margin-top: 35px;
}

.description button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.75rem;
}

.container-carousel {
    width: 100%;
    display: flex;
    /* background-color: gray;  */
    padding: 0px 48px;
    margin-bottom: 80px;
}

.container-carousel .content-carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    padding: 70px 0px 0px 0px;
}

.container-carousel .content-carousel .subtitle-carousel {
    width: 50%;
    /* background-color: blue; */
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.container-carousel .carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    padding: 20px 0px 20px 0px;
    overflow: auto;
    gap: 20px;
}

.carousel::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Colore dello sfondo della barra di scorrimento */
}

.carousel::-webkit-scrollbar-thumb {
    background: #888;
    /* Colore del cursore della barra di scorrimento */
}

.carousel::-webkit-scrollbar-thumb:hover {
    background: black;
    /* Colore del cursore della barra di scorrimento quando si passa il mouse sopra */
    cursor: pointer;
}

.container-carousel .carousel .img-carousel {
    flex: 0 0 auto;
    width: 231.75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.img-carousel {
    position: relative;
}

.img-carousel .description {
    width: 100%;
    padding: 40px 30px 0px 30px;
    /* margin-bottom: 100px; */
}

.img-carousel .description h4 {
    color: white;
    line-height: 25px;
}

.img-carousel .description h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button-img-carousel {
    width: 100%;
    height: 50px;
    /* background-color: green; */
    padding: 0px 0px 80px 30px;
}

.button-img-carousel button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.button-img-carousel button:hover {
    background-color: rgb(245, 241, 241);
}

.button {
    width: 100%;
    position: absolute;
    top: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button .btn {
    width: 70%;
    /* flex-wrap: wrap; */
    border: none;
    background-color: white;
    border-radius: 20px;
    min-height: 2.5rem;
    padding: 0 1.5rem;
}

.button .btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: .75rem;
}

.container-description-carousel {
    width: 100%;
    display: flex;
}

.container-description-carousel .subtitle-carousel-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    padding: 0 48px;
}

.container-description-carousel .subtitle-carousel-two h2 {
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: -0.0042em;
}

.container-description-carousel .subtitle-carousel-two .btn {
    border: none;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    padding: 11px 17px;
}

.container-description-carousel.subtitle-carousel-two .btn:hover {
    border: 2px solid black;
}

.container-description-carousel .subtitle-carousel-two .btn a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.carousel-two {
    width: 100%;
    display: flex;
    padding: 0px 48px;
}

.carousel-two .content-carousel-two {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: auto;
    padding-bottom: 20px;
}

.carousel-two .content-carousel-two .content-img-and-description {
    width: 284px;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content-img-and-description .img-carousel {
    width: 284px;
    height: 284px;
}

.img-carousel img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.content-img-and-description .description-img-carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/*!
Questo selettore CSS utilizza il pseudo-selettore :nth-last-child(-n+3) 
per selezionare gli ultimi tre elementi con la classe 
.content-img-and-description.
Il -n+3 è un'espressione che indica "gli ultimi 3 elementi".
Quindi, .content-img-and-description:nth-last-child(-n+3) 
.subtitle seleziona gli elementi con la classe .subtitle che 
sono figli degli ultimi tre elementi con la classe 
.content-img-and-description.
Lo stesso vale per .content-img-and-description:nth-last-child(-n+3) 
.description, che seleziona gli elementi con la classe .description 
che sono figli degli ultimi tre elementi con la classe .content-img-and-description.
*/
.content-img-and-description:nth-last-child(-n+3) .subtitle {
    color: black;
}

.content-img-and-description:nth-last-child(-n+3) .description {
    color: rgb(54, 54, 54);
}

.description-img-carousel .subtitle {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 3px;
    padding-inline-start: 30px;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.description-img-carousel .description {
    padding: 0px 30px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: rgb(224, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 70px;
}

.button-carousel-two {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px 0px 35px 35px;
    border-radius: 50%;
}

.button-carousel-two button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-carousel-two .btn-carousel a svg {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button-carousel-two .btn-carousel-two a svg {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-carousel-two:nth-last-child(-n+3) .btn-carousel-two {
    background-color: black;
    fill: white;
}

.content-carousel-two::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

.content-carousel-two::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Colore dello sfondo della barra di scorrimento */
}

.content-carousel-two::-webkit-scrollbar-thumb {
    background: #888;
    /* Colore del cursore della barra di scorrimento */
}

.content-carousel-two::-webkit-scrollbar-thumb:hover {
    background: black;
    /* Colore del cursore della barra di scorrimento quando si passa il mouse sopra */
    cursor: pointer;
}

.news-section-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 48px;
    /* background-color: red; */
    margin: 80px 0px 30px 0px;
    position: relative;
}

.news-section-two .section-subtitle,
.section-description {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 8px 0px;
    line-height: 22px;
}

.news-section-two .section-description {
    width: 56%;
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(83, 83, 83);
}

.news-section-two .section-button {
    position: absolute;
    right: 30px;
    top: 32px;
}

.news-section-two .section-button .btn-news {
    width: 328.3px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
    border: 1px solid;
}

.news-section-two .section-button .btn-news a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-images {
    /* width: 100%; */
    display: flex;
    padding: 0 38px;
    display: flex;
    flex-direction: flex;
    gap: 10px;
    flex: 1;
}

.content-image-1 {
    display: flex;
    flex: 1 1 auto;
}

.content-image-2  {
    display: flex;
    flex: 1 1 auto;
}

/* .content-image-1 img:nth-of-type(1) {
    height: 350px;
} */

.content-image-2 img:nth-of-type(2) {
    height: 250px;
}

.content-image-1,
.content-image-2,
.content-image-3 {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.content-image-3 {
    flex: 1 4 auto;  
    /* background-color: violet; */
}

.pub__simple-video {
    width: 100%;
    height: auto;
}

.section-pagamento-rate {
    display: flex;
    width: 100%;
}

.section-pagamento-rate .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 48px;
    margin-top: 70px;
}

.section-pagamento-rate .content img {
    max-height: 512px;
}

.container-description-rate {
    display: flex;
    /* background-color: blue; */
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-description-rate .subtitle-rate {
    max-width: 78%;
    display: flex;
    flex-direction: column;
}

.container-description-rate .subtitle-rate h2 {
    margin-bottom: 12px;
}

.content-description-rate p:nth-of-type(1) {
    color: rgb(110, 110, 110);
    line-height: 1.45;
}

.content-description-rate p {
    margin-bottom: 15px;
    font-size: 15px;
}

.content-description-rate p:last-of-type {
    margin-bottom: 40px;
}

.btn-rate {
    max-width: 121.56px;
    max-height: 40px;
    border-radius: 50px;
    border: none;
    background-color: black;
    padding: 13px;
    font-weight: bold;
}

.btn-rate a {
    text-decoration: none;
    color: white;
}

.description-product-end-home-service {
    display: flex;
    width: 100%;
    padding: 0 48px;
    flex-direction: column;
}

.description-product-end-home-service p:nth-of-type(1),
p:nth-of-type(2),
p:nth-of-type(3) {
    line-height: 1.45;
    letter-spacing: -0.0042em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.description-product-end-home-service div {
    width: 55%;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.description-product-end-home-service div a {
    text-decoration: none;
    color: black;
}

.linea {
    display: flex;
    margin: 40px 57px 60px 48px;
    background-color: rgb(219, 217, 217);
    height: 0.5px;
}

.informativa-whatsapp {
    width: 58%;
    display: flex;
    padding: 0 48px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.45;
    letter-spacing: -0.0042em;
}

.linea-2 {
    display: flex;
    margin: 40px 0px 20px 0px;
    background-color: rgb(243, 240, 240);
    height: 0.5px;
}

.button-scroll-up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button-scroll-up .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    padding: 0 48px;
    background-color: #F5F5F5;
}

.footer-container {
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    height: 100%;
    flex-direction: column;
    padding: 4rem 0 0 0;

}

.footer-container .footer-content {
    width: 100%;
    display: flex;
}

.footer-container .footer-content .footer-column {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding-inline-end: 8%;
}

.footer-container .footer-content .footer-column .footer-description {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.571;
    font-weight: bold;
}

.footer-description p:nth-of-type(1),
p:nth-of-type(2) {
    margin-bottom: 20px;
    font-size: .875rem;
    line-height: 1.571;
}

.footer-description a {
    margin-bottom: 10px;
    color: black;
    font-size: .875rem;
    line-height: 1.571;
}

.footer-description button {
    margin-bottom: 40px;
}

.footer-description button {
    width: 144.17px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: black;
}

.footer-description button:hover {
    background-color: #202020;
}

.footer-description button a {
    text-decoration: none;
    color: white;
    font-size: .75rem;
}

.container-footer-list {
    margin: 0 auto;
    flex-basis: 70%;
    display: flex;
    margin-bottom: 60px;
}

.footer-list {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    line-height: 1.571;
    padding-inline-end: 12px;
}

.footer-list .title {
    margin-bottom: 20px;
}

.footer-list ul{
    list-style-type: none;
}

.footer-list ul li {
    margin: 0px 0px 19px 0px;
}

.footer-list ul li a {
    text-decoration: none;
    color: rgb(75, 74, 74);
    font-size: 14px;
    line-height: 1.571;
}

.footer-list ul li a:hover {
    text-decoration: underline;
}

.footer-social-end-pay-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-social-end-pay-card .social-list {
    width: 100%;
    display: flex;
}

.footer-social-end-pay-card .social-list ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    
}

.footer-social-end-pay-card .social-list ul li  a{
    color: black;
    text-decoration: none;
    border: 1px solid rgb(201, 200, 200);
    display: flex;
    border-radius: 50%;
    padding: 5px;
}

.footer-social-end-pay-card .social-list ul li a:hover{
    border: 1px solid rgb(112, 112, 112);
}

.footer-pay-card-icon {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.footer-pay-card-icon ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.footer-pay-card-icon ul li  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-pay-card-icon ul li img {
    display: flex;
    border: 1px solid rgb(223, 223, 245);
    width: 100%;
    padding: 0px 3px 0px 3px;
    background-color: white;
    border-radius: 3px;

}

.footer-button {
    position: absolute;
    right: 0;
    bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button .btn {
    width: 155.3px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: white;
    border: 1px solid black;
}

.footer-button .btn:hover {
   border-color: black;
   border-width: 2px;
}

.footer-button .btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-button .btn a span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.linea-3 {
    display: flex;
    margin: 13px 0px 20px 0px;
    background-color: rgb(219, 217, 217);
    height: 0.5px;
}

.footer-end {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.footer-end .copyrightInterIKEA {
    display: flex;
    flex: 0 0 auto;
    font-size: .75rem;
}

.footer-end .footer-legal-links {
    display: flex;
    flex: 1 1 auto;
}

.footer-end ul {
    list-style-type: none;
    font-size: .75rem;
    text-align: end;
}

.footer-end ul li {
    display: inline-block;
    margin-block-end: 20px;
    margin-inline: 1.25rem 0;
}

.footer-end ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.financial-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    line-height: 1.571;
}

.financial-details p:nth-of-type(1),p:nth-of-type(2),p:nth-of-type(3){
    font-size: .75rem;
    margin-bottom: .75rem;
}














/* @media screen and (min-width: 1024px) {} */